.btn {
  display: block;
  border: 2px solid @color-font-grey;
  font-family: @font-family-base;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: @color-font-grey;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
