.catalog {
  .container();
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}

@media @tablet-width {
  .catalog {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 55px;
    padding-bottom: 50px;
  }
}

@media @desktop-width {
  .catalog {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}
