.catalog-item {
  width: 260px - 2*@catalog-item-padding - 2*@catalog-item-border;
  min-height: 374 - 2*@catalog-item-border;
  padding-left: @catalog-item-padding;
  padding-right: @catalog-item-padding;
  margin-bottom: 30px;
  border: @catalog-item-border solid @color-dark-gray;
  font-family: @font-family-base;
}

.catalog-item__image {
  margin-left: -@catalog-item-padding - @catalog-item-border;
}

.catalog-item__title {
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: black;
}

.catalog-item__descr {
  font-size: 13px;
  line-height: 30px;
  color: @color-font-grey;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: black;
}
