.contacts {
  padding-left: 30px;
  padding-right: 30px;
  font-family: @font-family-base;
  color: @color-font-grey;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: black;
}
