.main-nav {
  position: absolute;
  z-index: 2;
  top: 81px;
  left: 0;
  width: 320px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;

  &--closed {
    display: none;
  }

  &--no-js {
    display: block;
    position: static;
  }
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;
  border-bottom: 1px solid @color-light-gray;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;

  &:hover {
    color: rgba(0,0,0,0.6);
  }

  &:active {
    color: rgba(0,0,0,0.3);
  }
}

@media @tablet-width {

  .main-nav {
    width: auto;
    position: static;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    background-color: transparent;
  }

  .main-nav__link {
    border: none;
    padding: 17px 0;
    margin-right: 34px;
    font-size: 15px;
    line-height: 24px;
  }
}


@media @desktop-width {
  .main-nav {
    order: -2;
    border-bottom: 1px solid @color-light-gray;
  }

  .main-nav__item {
    box-sizing: border-box;
    height: 87px;
    border-bottom: none;

    &:not(:first-child) {
      border-left: 1px solid @color-light-gray;
      padding-left: 35px;
    }
  }

  .main-nav__link {
    margin-right: 36px;
    padding-top: 29px;
    padding-bottom: 27px;
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
    line-height: 24px;
  }
}
