.order-form {
  padding-left: 30px;
  padding-right: 30px;
  font-family: @font-family-base;
}

.order-form__descr {
  font-size: 13px;
  line-height: 24px;
  color: @color-font-grey;
}

.order-form__fieldset {
  border: none;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.order-form__legend {
  font-size: 27px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-sea-green-light;
}

.order-form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: @color-font-grey;
}

