.page-footer {
  margin-top: 30px;
}

.page-footer__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 30px;
  background-color: @color-base-gray;
  border-top: 1px solid @color-light-gray;
}

.page-footer__logo {
  display: none;
}

.page-footer .social {
  margin: auto;
}

.page-footer__designed {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: black;
  margin: auto;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #e5e5e5;
}

.page-footer__designed-text {
  margin-right: 28px;
}

.page-footer__designed-svg {
  fill: @color-sea-green-light;
}

.page-footer__designed:hover .page-footer__designed-svg {
  fill: @color-sea-green;
}

.page-footer__designed:active {
  opacity: 0.3;
}

@media @tablet-width {
  .page-footer {
    background-color: @color-base-gray;
    margin-top: 50px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__designed {
    border: none;
  }

  .page-footer__logo {
    display: block;
    flex-basis: 33%;
  }

  .page-footer__logo-svg {
    &:hover {
      fill: @color-sea-green;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer .social {
    flex-basis: 33%;
    height: 143px;
  }

  .page-footer__designed {
    flex-basis: 33%;
    justify-content: flex-end;
  }
}

@media @desktop-width {
  .page-footer__wrapper {
    padding: 0 50px;
  }
}
