.page-header__wrapper {
  .container();
  box-sizing: border-box;
  position: relative;
}

.page-header__logo {
  min-height: 80px;
  background-color: white;
  border-bottom: 1px solid @color-light-gray;
  display: flex;
  justify-content: center;
}

.page-header__toggle {
  position: absolute;
  top: 21px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline-style: none;

  &--no-js {
    display: none;
  }

  &--closed::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: @color-black-gray;
    box-shadow: 0 6px 0 0 @color-black-gray, 0 12px 0 0 @color-black-gray;
  }

  &--opened::before,
  &--opened::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 10px;
    width: 20px;
    height: 2px;
    background-color: @color-black-gray;
  }

  &--opened::before {
    transform: rotate(45deg);
  }

  &--opened::after {
    transform: rotate(-45deg);
  }
}

.page-header__delivery {
  display: none;
}

.page-header__title {
  box-sizing: border-box;
  background-color: @color-base-gray;
  margin: 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  padding: 70px 30px;
  text-align: center;
}

.page-header--index .page-header__title {
  background-color: transparent;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  min-height: 282px;
}

@media @tablet-width {
  .page-header {
    background-color: @color-base-gray;
    position: relative;

    &--index {
      background-color: #f9f9f9;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 87px;
      background-color: white;
      top: 0;
      left: 0;
    }
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &--index {
      background-color: @bg-color;
    }
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo {
    box-sizing: border-box;
    order: -2;
    width: 350px;
    height: 88px;
    border: none;
    padding-left: 50px;
    justify-content: flex-start;
    border-bottom: 1px solid @color-light-gray;
    flex-grow: 1;
  }

  .page-header__delivery {
    display: block;
    margin: 0;
    padding: 15px 50px;
    font-size: 15px;
    line-height: 24px;
    color: @color-dark-grey;
    flex-grow: 1;
    text-align: right;
  }

  .page-header__title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@media @desktop-width {
  .page-header__wrapper {
    margin-bottom: 142px;
  }

  .page-header__logo {
    order: -1;
    padding: 0;
    width: 170px;
  }

  .page-header__delivery {
    padding: 15px 50px;
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
  }

}
