.popular-goods {
  padding-left: 30px;
  padding-right: 30px;
  font-family: @font-family-base;
  color: @color-font-grey;
}

.popular-goods__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: black;
}

.popular-goods__note {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-sea-green-light;
}
