.production-process {
  width: 260px - 2*@production-process-padding - 2*@production-process-border;
  min-height: 374 - 2*@production-process-border;
  padding-left: @production-process-padding;
  padding-right: @production-process-padding;
  margin-bottom: 30px;
  border: @production-process-border solid @color-dark-gray;
  font-family: @font-family-base;
}

.production-process__video {
  margin-left: -@production-process-padding - @production-process-border;
}

.production-process__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.production-process__descr {
  font-size: 13px;
  line-height: 24px;
  color: @color-font-grey;
}
