.shop-catalog {
  padding: 0;
  margin: 0;
  list-style: none;
}

.shop-catalog__item {
  &:nth-child(1n) {
    background-color: @color-sea-green-light;
  }

  &:nth-child(2n) {
    background-color: @color-sea-green-dark;
  }
}

.shop-catalog__link {
  display: block;
  position: relative;
  text-decoration: none;
  font-family: @font-family-base;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: white;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;

  &:hover {
    margin-top: -5px;
    padding-top: 30px;
    padding-bottom: 29px;
  }

  &:active {
    color: rgba(255,255,255,0.3);
  }
}

.shop-catalog__link-svg {
  position: absolute;
  top: 23px;
  right: 22px;
  fill: #149080;
  opacity: 0.5;
}

.shop-catalog__link:hover .shop-catalog__link-svg {
  opacity: 0.7;
}

.shop-catalog__link:active .shop-catalog__link-svg {
  opacity: 0.3;
}

@media @tablet-width {

  .shop-catalog {
    display: flex;
    margin: 0 50px;
    width: 100%;
  }

  .shop-catalog__link {
    width: 334px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    box-sizing: border-box;
  }
}

@media @desktop-width {
  .shop-catalog__link {
    width: 525px;
    padding-left: 38px;
  }

}
