.social {
  width: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 80px;
  box-sizing: border-box;
  font-size: 0;
}

.social__link {
  position: relative;


  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
  }

  &--instagramm::after {
    background: transparent url("../img/icon-insta.svg") no-repeat;
    left: 0px;
  }

  &--facebook::after {
    background: transparent url("../img/icon-fb.svg") no-repeat;
    left: 50px;
  }

  &--twitter::after {
    background: transparent url("../img/icon-twitter.svg") no-repeat;
    left: 100px;
  }
}
