.user-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
}

.user-nav__link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid @color-light-gray;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

@media @tablet-width {

  .user-nav {
    display: flex;
    order: -1;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 50px;
  }

  .user-nav__link {
    border: none;
  }
}


@media @desktop-width {
  .user-nav {
    padding-right: 100px;
  }

}
