@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1250px)";

@color-base-gray: #f1f1f1;
@color-light-gray: #ececec;
@color-gray: #c7c7c7;
@color-sea-green-light: #63d1bb;
@color-sea-green-dark: #56c3b2;
@color-dark-grey: #444444;
@bg-color: #f9f9f9;

@font-family-base: "Open Sans", Arial, sans-serif;
